@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --mainOne: white;
    --subOne: #3498db;
    --parOne: #ecf0f1;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
  }
  
 
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
/* Body design*/

body {
    margin: auto;
   
    overflow: auto;
    background: linear-gradient(315deg, #3498db 3%, #3498db 38%, #2c3e50 68%, #2c3e50 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 20s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}





/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: var(--mainOne);
    overflow: hidden;
  }
  
  .nav-links a {
    font-size: larger;
    color: var(--mainOne);
}

/* LOGO */
.logo {
    color: var(--mainOne);
    font-size: 32px;
    margin: auto;
    display: flex;
  }


  /* type-erase animation*/
  .typing-erase {
    font-size: 0.7rem;
    animation: 
      4s typing-erase 4s steps(50, end) infinite,
      blink-caret .5s step-end infinite;
  }
  
  /* The type and erase effect */
 
  
  .typewriter {
    margin-left: 30px;
    background-color: transparent;
    min-width: 500px;
   
    
    
    display: flex;
    align-items: center;
  }
  
  .typewriter svg {
    padding-right: 2em;
  }
  
  .typewriter p {
    background: transparent;
    color: white;
    font-size: 1em;
    font-weight: 500;
    width: 0;
    max-width: max-content;
    overflow: hidden; 
    /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
}

.typing-erase {
      background: transparent;
    animation: 
      2s typing-erase 2s steps(50, end) infinite,
      blink-caret 0.8s step-end infinite;
  }
  
  /* The type and erase effect */
  @keyframes typing-erase {
    0% { width: 0 }
    80% { width: 100% }
    90%, 100% { width: 0 }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray }
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  

.menu li a:hover {
    transition: 0.3s ease;
    color: whitesmoke;
  }
  
  .menu li {
    padding: 5px 14px;
  }





  


  
 
  
 


  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .typewriter{
        display: none;
    }
   .menu {
      display:none;
      position: absolute;
      background-color:white;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:white;
      transition: 0.3s ease;
     
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
      transition: 0.3s ease;
    }
    
    .hamburger {
        color: #000;
        display: block;
    }
    
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        transition: 0.8s ease;
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
}

::placeholder{
  color: white;
}

.subForm{

  margin: auto; 
  margin-top:75px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  width:100%;
  justify-content: center;
  height: 100%;
  
  background-color: transparent;
}

.formContainer{
  opacity: 1;
  width: 60%;
  justify-content: center;
}

.form1{
  margin-top: 320px; 
  padding-left: 13rem;
}


.subLinks{
  padding: 0.4rem;
  margin-left: 30px;
}

.subInput{
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  outline: none;
  color: white;
  border-bottom: 1.3px white solid;
  width: 20rem;
}

.subInput:focus{
  position: relative;
  border: 1.3px white solid;
  transition: border 0.3s ease;
  
}



.subBtn{
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.subBtn:hover{
  position: fixed;
  cursor: pointer;
  color: white;

  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.23rem;
  transition: 0.3s ease;
}